@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

@font-face {
   font-family: 'MyriadPro-Regular';
   src: url('fonts/MyriadProRegular.ttf');
}

@font-face {
   font-family: 'BlackJack';
   src: url('fonts/BLACKJAR.TTF');
}

* {
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

body {
   font-family: 'Baskervville', 'MyriadPro-Regular';
   font-size: 1rem;
   margin: 0;
   padding: 0;
   position: relative;
   width: 100%;
   overflow-x: hidden;
}

.container {
   margin: auto;
   padding: 0 4rem;
   overflow-x: hidden;
   position: relative;
}

.group-1 {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.6fr 0.3fr 6fr;
   grid-template-areas: 'header' 'nav' 'group-1-pic';
   position: relative;
}

.header {
   grid-area: header;
}

.header [class$='title'] {
   text-align: center;
   text-transform: uppercase;
   margin: 0;
}

.header__title {
   padding-top: 2rem;
   color: #cb9e61;
   letter-spacing: 0.7rem;
   font-size: 2.8rem;
}

.header__subtitle {
   color: #929496;
   font-size: 1rem;
   padding-bottom: 1rem;
}

.nav {
   grid-area: nav;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0;
}

.nav-list-elements {
   display: inline-block;
   list-style-type: none;
   padding: 0;
}

.nav-list-element {
   display: inline-block;
   padding-right: 2.5rem;
   font-family: 'Montserrat', 'MyriadPro-Regular';
   font-size: 0.8rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #8c8c8c;
}

.nav-list-element a {
   text-decoration: none;
   color: #8c8c8c;
}

.nav-list-element a:hover,
.nav-list-element a:active {
   color: #cb9e61;
}

#li-bold {
   font-weight: 700;
}

.nav-burger-menu {
   display: none;
   cursor: pointer;
}

.nav-burger-menu div {
   width: 2.5rem;
   height: 0.26rem;
   background-color: #cb9e61;
   margin: 0.2rem;
   border-radius: 2rem;
   transition: all 0.3s ease;
}

.nav-active {
   transform: translateX(0%);
}

@keyframes showLinks {
   from {
      opacity: 0;
      transition: translateX(3rem);
   }
   to {
      opacity: 1;
      transition: translateX(0rem);
   }
}

.group-1__pic {
   grid-area: group-1-pic;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.1fr 2fr;
}

.group-1__pic-text {
   display: inline-block;
   padding-right: 0.6rem;
   color: #cb9e61;
   text-transform: uppercase;
   font-size: 0.9rem;
}

.sign-up {
   position: absolute;
   display: flex;
   flex-direction: column;
   bottom: 7%;
   right: 2%;
}

.btn {
   margin-top: 0.5rem;
   padding: 0.3rem 0.7rem;
   font-family: inherit;
   color: #ffffff;
   border: none;
   background-color: #cb9e61;
}

.btn:hover {
   color: #cb9e61;
   background-color: #ffffff;
   cursor: pointer;
}

.group-1__pic-image {
   background-image: url('images/main-pic.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   overflow: hidden;
}

.group-1__pic-image-texture {
   position: absolute;
   top: -10%;
   right: -20%;
}

.group-2 {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   grid-template-rows: 0.7fr 2.2fr 2.2fr 2.2fr 0.5fr;
   grid-template-areas:
      'title title title title title title title title title title'
      '. . el-1 el-1 el-2 el-2 el-3 el-3 . .'
      '. . el-4 el-4 el-5 el-5 el-6 el-6 . .'
      '. . el-7 el-7 el-8 el-8 el-9 el-9 . .'
      '. . end-text end-text end-text end-text end-text end-text . .';
   gap: 1.5rem;
   position: relative;
}

.title {
   color: #cb9e61;
   letter-spacing: 0.1rem;
   text-align: center;
   padding-top: 2rem;
}

.el-1 {
   grid-area: el-1;
}
.el-2 {
   grid-area: el-2;
}
.el-3 {
   grid-area: el-3;
}
.el-4 {
   grid-area: el-4;
}
.el-5 {
   grid-area: el-5;
}
.el-6 {
   grid-area: el-6;
}
.el-7 {
   grid-area: el-7;
}
.el-8 {
   grid-area: el-8;
}
.el-9 {
   grid-area: el-9;
}
.title {
   grid-area: title;
}

.card-with-text {
   display: flex;
   margin: 0;
   flex-direction: column;
   height: 100%;
}

.card-text {
   background-color: gray;
   padding: 0.1rem 0.3rem;
   margin: 0;
   width: 100%;
   color: #ffffff;
}

.card {
   display: flex;
   margin: 0;
   flex-direction: column;
   position: relative;
}

.card img {
   height: 100%;
   width: 100%;
}

.group-2__bottom-text {
   width: 85%;
   margin: 0 auto;
   grid-area: end-text;
   font-size: 0.55rem;
   color: #8c8c8c;
   font-family: 'Barlow', 'MyriadPro-Regular';
   text-align: center;
}

.arrow {
   background-image: url(images/arrow.png);
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   top: 40%;
   right: 0;
   width: 20%;
   height: 20%;
}

.back-photo {
   position: absolute;
   z-index: -10;
   top: -5%;
   right: -45%;
}

.group-3 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 'pic pic text-1' 'pic pic text-2';
   height: 80vh;
}

.kyla-pic {
   grid-area: pic;
   background-image: url(images/kyle-pic.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.wrap-text {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   font-size: 1.15rem;
   padding-left: 3.5rem;
   width: 80%;
   color: #cb9e61;
}

.side-text {
   grid-area: text-1;
}

.side-text .title-2 {
   color: #8c8c8c;
}

.sweet-home {
   grid-area: text-2;
   font-family: 'BlackJack';
   color: #808183;
}

.plant {
   position: absolute;
   background-image: url(images/plant.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   width: 45%;
   height: 45%;
   bottom: -3%;
   right: -15%;
}

@media only screen and (max-width: 700px) {
   html {
      font-size: 12px;
   }
   .nav-list-elements {
      position: absolute;
      left: 0;
      width: 50vw;
      height: 50vh;
      top: 20%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      z-index: 100;
      transform: translateX(-200%);
      transition: transform 0.6s ease-in;
      border-radius: 1rem;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
   }
   .group-2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr repeat(10, 0.5fr) 0.1fr;
      grid-template-areas:
         'title'
         'el-1'
         'el-2'
         'el-3'
         'el-4'
         'el-5'
         'el-6'
         'el-7'
         'el-8'
         'el-9'
         'end-text';
      row-gap: 1.5rem;
   }

   .group-3 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 4fr 1fr 0.5fr;
      grid-template-areas: 'pic pic' 'text-1 text-1' 'home home';
      height: 85vh;
   }
   .sweet-home {
      grid-area: home;
   }

   .wrap-text {
      padding: 0 0.5rem;
      width: 100%;
      align-items: center;
   }

   .side-text h2 {
      margin: 0.8rem;
   }

   .nav-list-element {
      padding: 0;
   }
   .nav-list-elements li:nth-child(6) {
      display: none;
   }
   .nav-burger-menu {
      display: block;
   }
}

.nav-active {
   transform: translateX(0%);
}

.toggle .line-1 {
   transform: rotate(-45deg) translate(-1px, 4px);
}

.toggle .line-2 {
   opacity: 0;
}

.toggle .line-3 {
   transform: rotate(45deg) translate(-4px, -7px);
}

/* ============================GROUP 7=============================== */
.gr-7 {
   margin-top: 10vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(
         180deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(255, 255, 255, 0) 50%
      ),
      url('./images/gr-7.png');
   background-size: cover;
   color: #cb9e61;
   padding: 40vh 25vw 30vh 25vw;
}

.gr-7__heading {
   position: absolute;
   text-align: center;
   top: 0;
}

.gr-7__inner-div {
   display: flex;
   flex-direction: column;
   row-gap: 1em;
   background-color: rgba(255, 255, 255, 0.8);
   padding: 3em;
}

.gr-7__button {
   font-size: 1.2em;
}

.gr-7__input {
   font-size: 0.7em;
   padding: 1em;
}

.gr-7__text {
   color: #929496;
}

/* ============================GROUP 8=============================== */

.gr-8 {
   display: flex;
   flex-direction: row;
   column-gap: 0.5em;
   height: 100vh;
   color: #cb9e61;
   font-family: 'Baskervville';
   font-size: 1.3em;
}

.gr-8__img-lg {
   width: 40vw;
}

.gr-8__grid {
   display: grid;
   grid-template-rows: 1.5fr 8.5fr 4fr 6fr;
}

.gr-8__img-medium {
   border: 0.4em white solid;
   border-radius: 0.5em;
   margin: auto 0 0 -10vh;
   height: 100%;
   width: auto;
   max-height: 37vh;
}

.gr-8__img-small {
   max-height: 25vh;
   margin: 0;
   height: auto;
   border-bottom: 0.5em white solid;
}

.gr-8__yellow-area {
   background-color: #e0c39c;
   width: 5vw;
   height: 100%;
}

.gr-8__bottom-div {
   display: inline-flex;
}

.gr-8__text-div {
   margin-left: 10vh;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.gr-8__title {
   font-family: 'Baskerville BT Roman';
   font-size: 6em;
   margin: 0;
}

.m-1 {
   margin-left: 1em;
}

.gr-8__subtitle {
   font-size: 3em;
}
.m-1 > * {
   margin: 0;
}
/* .container > * {
   margin-bottom: 5em;
} */
