.group-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.3fr;
    grid-template-areas: 'header' 'nav';
}

.employee-div {
    padding: 2em;
    display: grid;
    grid-template-columns: 40% 60%;
}

.employee-div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 7em;
}

.employee-div>div {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.employee-description {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: solid var(--gold) 0.2em;
    padding: 0 2em 2em 2em;
    position: absolute;
    left: -3em;
    width: 90%;
}

.employee-description h2 {
    position: relative;
    font-size: 3em;
}

.employee-description h2::after {
    font-size: 0.3em;
    color: var(--gray);
    position: absolute;
    content: "CEO";
    left: 0;
    bottom: -1em;
}

.employee-description p {
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        display: block;
    }
}



@keyframes testAnim {
    from {
        box-shadow:  0 0 0 black;
    }
    to {
        box-shadow: 1em 2em 2em black;
        border-radius: 0;
    }
}

.employee-div img:hover {
    animation: testAnim 0.5s forwards;
    transform: scale(1.1);
    transition: transform 0.5s;
  }

  .employee-div img:hover + div .employee-description p {
    display: block;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

.employee-card {
    display: flex;
    justify-content: center;
    position: relative;
}

.employee-card img {
    height: 100%;
    width: 50%;
    object-fit: contain;
}

.about-div {
    width: 100%;
    height: 50%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    width: 70%;
    text-align: center;
    position: absolute;
    top: 2em;
    right: 50%;
    transform: translateX(50%);
    color: white;
    font-family: 'Baskervville', 'MyriadPro-Regular';
    text-shadow: 2px 2px black;
}

.about-text h2 {
    letter-spacing: 0.2em;
    margin-bottom: 2em;
}

.who-are-we {
    margin: 1em 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: var(--gray);
    text-shadow: 2px 2px black;
}

.team-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.team-div__col {
    display: flex;
    flex-direction: column;
}

.team-div__card {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(140, 140, 140, 0.4);
    padding: 0.2em;
    margin: 1em 0;
    /* color: var(--gold); */
}

.team-div__card p {
    padding: 2em;
    padding-top: 0;
}

@keyframes backShadow {
    from{
        box-shadow: 0px 0px 0px var(--gray);    
    }
    to {
        box-shadow: 8px 16px 16px var(--gray);
    }
}

.team-div__card:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
    animation: backShadow 0.5s;
    animation-fill-mode: forwards;
  }

#background-img-2,
#background-img-3{
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    object-fit: cover;
    top: 13%;
}

#background-img-2 {
    top: 40%;
    
}

#background-img-1 {
    display: none;
}

#active-link{
    color: var(--dark-gold);
}