:root {
   --gradient: linear-gradient(
      45deg,
      #cc9a53,
      var(--dark-gold),
      var(--gold),
      var(--beige)
   );
}

body {
   margin: 0;
}

.model-3D,
.gallery,
.store-location {
   font-family: BlackJack;
}

.nav-list-element a:hover,
.nav-list-element a:active {
   color: var(--beige);
}

[class^='linear-gradient-'] {
   width: 100%;
   height: 80vh;
   background-image: var(--gradient);
   background-size: 140%;
   animation: bg-animation 3.5s infinite alternate;
   clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
   position: absolute;
   z-index: -1;
}

.linear-gradient-top {
   top: 0;
   left: 0;
}

@keyframes bg-animation {
   0% {
      background-position: left;
   }
   100% {
      background-position: right;
   }
}

.group-1 {
   grid-template-columns: 0.4fr 1.6fr;
   grid-template-rows: 0.6fr 0.3fr 6fr;
   grid-template-areas: 'header header' 'nav nav' 'three-js gallery';
   height: 97vh;
   column-gap: 1rem;
   margin-bottom: 2rem;
}

.model-3D {
   grid-area: three-js;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
}

#webgl {
   cursor: grab;
   outline: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.model-3D--text {
   width: 100%;
   position: absolute;
   font-size: 2.2rem;
   text-align: center;
   color: var(--white);
   font-weight: bold;
   padding: 0.6rem 0.8rem;
   background-color: #beb8b88a;
   bottom: 0;
   margin: 0;
   border-radius: 0.4rem;
}

.gallery {
   /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0);
   clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0); */
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #beb8b88a;
   border-radius: 0.4rem;
   overflow: hidden;
   padding: 1rem;
}

.gallery h2 {
   margin: 0 0 1rem 0;
   padding: 0;
}

.gallery ::-webkit-scrollbar {
   width: 0.1px;
   height: 0.1px;
}

.gallery ::-webkit-scrollbar-button {
   width: 0.1px;
   height: 0.1px;
}

.gallery span {
   color: var(--dark-gold);
}

.horizontal-scroll-wrapper {
   width: 90%;
   height: 90%;
   display: block;
   overflow-y: auto;
   overflow-x: hidden;
   transform: rotate(-90deg);
}
.horizontal-scroll-wrapper > div {
   display: block;
   transform: rotate(90deg);
}

.squares > div {
   width: 100%;
   height: 100%;
}

[class^='gallery-pic-'] {
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   height: 100%;
}

.gallery-pic-1 {
   background-image: url(../images/pic-1.png);
}
.gallery-pic-2 {
   background-image: url(../images/pic-2.png);
}
.gallery-pic-3 {
   background-image: url(../images/pic-3.png);
}
.gallery-pic-4 {
   background-image: url(../images/pic-4.png);
}
.gallery-pic-5 {
   background-image: url(../images/pic-5.png);
}
.gallery-pic-6 {
   background-image: url(../images/pic-6.png);
}
.gallery-pic-7 {
   background-image: url(../images/pic-7.png);
}
.gallery-pic-8 {
   background-image: url(../images/pic-8.png);
}
.gallery-pic-9 {
   background-image: url(../images/pic-9.png);
}

.store-location p {
   color: var(--gray);
   font-size: 2rem;
   text-align: center;
   margin-bottom: 0.1rem;
}

.linear-gradient-bottom {
   transform: rotateX(180deg);
   bottom: 0;
   right: 0;
   z-index: -1;
}

#active-link {
   color: var(--dark-gold);
}

@media only screen and (max-width: 768px) {
   .group-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 0.3fr 3fr 3fr;
      grid-template-areas: 'header' 'nav' 'three-js' 'gallery';
      row-gap: 1.2rem;
      position: relative;
   }
   .model-3D {
      align-items: flex-start;
   }
   #webgl {
      height: 19rem !important;
      width: 19rem !important;
   }
   #scroll {
      overflow-x: auto;
   }
   #mapdiv {
      height: 40vh;
   }
}
