:root {
   --gradient: linear-gradient(
      45deg,
      #cc9a53,
      var(--dark-gold),
      var(--gold),
      var(--beige)
   );
}

body {
   margin: 0;
}

.model-3D,
.scroll-gallery,
.store-location {
   font-family: Baskervville;
}

.nav-list-element a:hover,
.nav-list-element a:active {
   color: var(--beige);
}

[class^='linear-gradient-'] {
   width: 100%;
   height: 80vh;
   background-image: var(--gradient);
   background-size: 140%;
   animation: bg-animation 3.5s infinite alternate;
   clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
   position: absolute;
   z-index: -1;
}

.linear-gradient-top {
   top: 0;
   left: 0;
}

@keyframes bg-animation {
   0% {
      background-position: left;
   }
   100% {
      background-position: right;
   }
}

.group-1 {
   grid-template-columns: 0.4fr 1.6fr;
   grid-template-rows: 0.3fr 0.3fr auto;
   grid-template-areas: 'header header' 'nav nav' 'gallery gallery';
   column-gap: 1rem;
   margin-bottom: 1.5rem;
}

.gallery {
   height: 100vh;
   background-color: #beb8b88a;
   padding: 1rem;
   grid-area: gallery;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(10, 1fr);
   grid-template-areas:
      'gallery-img-1 gallery-img-1 gallery-img-2 gallery-img-2 gallery-img-2 gallery-img-3 gallery-img-4 gallery-img-4'
      'gallery-img-1 gallery-img-1 gallery-img-2 gallery-img-2 gallery-img-2 gallery-img-3 gallery-img-4 gallery-img-4'
      'gallery-img-1 gallery-img-1 gallery-img-2 gallery-img-2 gallery-img-2 gallery-img-3 gallery-img-4 gallery-img-4'
      'gallery-img-5 gallery-img-5 gallery-img-2 gallery-img-2 gallery-img-2 gallery-img-3 gallery-img-6 gallery-img-6'
      'gallery-img-5 gallery-img-5 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8 gallery-img-6 gallery-img-6'
      'gallery-img-5 gallery-img-5 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8 gallery-img-6 gallery-img-6'
      'gallery-img-5 gallery-img-5 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8 gallery-img-9 gallery-img-9'
      'gallery-img-10 gallery-img-10 gallery-img-10 gallery-img-11 gallery-img-8 gallery-img-8 gallery-img-9 gallery-img-9'
      'gallery-img-10 gallery-img-10 gallery-img-10 gallery-img-11 gallery-img-12 gallery-img-12 gallery-img-9 gallery-img-9'
      'gallery-img-10 gallery-img-10 gallery-img-10 gallery-img-11 gallery-img-12 gallery-img-12 gallery-img-9 gallery-img-9';

   gap: 0.8rem;
   border-radius: 0.4rem;
}

.gallery__image-1 {
   grid-area: gallery-img-1;
   background: url(../images/gr-7.png) center/cover;
}
.gallery__image-2 {
   grid-area: gallery-img-2;
   background: url(../images/kyle-pic.png) center/cover;
}
.gallery__image-3 {
   grid-area: gallery-img-3;
   background: url(../images/group-5-pic-2.png) center/cover;
}
.gallery__image-4 {
   grid-area: gallery-img-4;
   background: url(../images/group-5-pic-1.png) center/cover;
}
.gallery__image-5 {
   grid-area: gallery-img-5;
   background: url('../images/Image@1X\ \(1\).png') center/cover;
}
.gallery__image-6 {
   grid-area: gallery-img-6;
   background: url(../images/gr-6-img.png) center/cover;
}
.gallery__image-7 {
   grid-area: gallery-img-7;
   background: url('../images/Image@1X.png') center/cover;
}
.gallery__image-8 {
   grid-area: gallery-img-8;
   background: url(../images/group-4-img.png) center/cover;
}
.gallery__image-9 {
   grid-area: gallery-img-9;
   background: url('../images/Image@1X\ \(2\).png') center/cover;
}
.gallery__image-10 {
   grid-area: gallery-img-10;
   background: url(../images/main-pic.png) center/cover;
}
.gallery__image-11 {
   grid-area: gallery-img-11;
   background: url(../images/pic-8.png) center/cover;
}
.gallery__image-12 {
   grid-area: gallery-img-12;
   background: url(../images/group-5-pic-3.png) center/cover;
}

[class^='gallery__image-'] {
   transition: all 0.2s ease-in-out;
}

[class^='gallery__image-']:hover {
   transform: scale(1.12);
   -webkit-box-shadow: 0 0 1rem #000000;
   box-shadow: 0 0 1rem #000000;
}

.model-and-scroll-gallery {
   display: grid;
   grid-template-columns: 0.4fr 1.6fr;
   gap: 1rem;
   height: auto;
   grid-template-areas: 'three-js scroll-gallery';
   margin-bottom: 1.5rem;
}

.model-3D {
   grid-area: three-js;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
}

#webgl {
   cursor: grab;
   outline: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.model-3D--text {
   width: 100%;
   position: absolute;
   font-size: 1.4rem;
   text-align: center;
   color: var(--white);
   font-weight: bold;
   padding: 0.4rem 0.6rem;
   background-color: #beb8b88a;
   bottom: 0;
   margin: 0;
   border-radius: 0.4rem;
}

.scroll-gallery {
   grid-area: scroll-gallery;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #beb8b88a;
   border-radius: 0.4rem;
   overflow: hidden;
   padding: 1rem;
}

.scroll-gallery h2 {
   margin: 0 0 1rem 0;
   padding: 0;
}

.scroll-gallery {
   scrollbar-width: none;
   -ms-overflow-style: none;
   scrollbar-color: #e3e3e3 transparent;
}

.scroll-gallery ::-webkit-scrollbar {
   width: 0.1px;
   height: 0.1px;
}

.gallery ::-webkit-scrollbar-button {
   width: 0.1px;
   height: 0.1px;
}

.scroll-gallery span {
   color: var(--dark-gold);
   padding: 0.5rem;
}

.horizontal-scroll-wrapper {
   width: 90%;
   height: 90%;
   display: block;
   overflow-y: auto;
   overflow-x: hidden;
   transform: rotate(-90deg);
}
.horizontal-scroll-wrapper > div {
   display: block;
   transform: rotate(90deg);
}

.squares > div {
   width: 100%;
   height: 100%;
}

[class^='gallery-pic-'] {
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   height: 100%;
}

.gallery-pic-1 {
   background-image: url(../images/pic-1.png);
}
.gallery-pic-2 {
   background-image: url(../images/pic-2.png);
}
.gallery-pic-3 {
   background-image: url(../images/pic-3.png);
}
.gallery-pic-4 {
   background-image: url(../images/pic-4.png);
}
.gallery-pic-5 {
   background-image: url(../images/pic-5.png);
}
.gallery-pic-6 {
   background-image: url(../images/pic-6.png);
}
.gallery-pic-7 {
   background-image: url(../images/pic-7.png);
}
.gallery-pic-8 {
   background-image: url(../images/pic-8.png);
}
.gallery-pic-9 {
   background-image: url(../images/pic-9.png);
}

.store-location p {
   color: var(--gray);
   font-size: 2rem;
   text-align: center;
   margin-bottom: 0.1rem;
}

.linear-gradient-bottom {
   transform: rotateX(180deg);
   bottom: 0;
   right: 0;
   z-index: -1;
}

#active-link {
   color: var(--dark-gold);
}

@media only screen and (max-width: 768px) {
   .group-1 {
      grid-template-columns: 1fr;
      grid-template-areas: 'header' 'nav' 'gallery';
      row-gap: 1.2rem;
      position: relative;
      margin-bottom: 0;
   }
   .gallery {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(18, 1fr);
      grid-template-areas:
         'gallery-img-1 gallery-img-1 gallery-img-2 gallery-img-2 gallery-img-2'
         'gallery-img-1 gallery-img-1 gallery-img-2 gallery-img-2 gallery-img-2'
         'gallery-img-3 gallery-img-11 gallery-img-2 gallery-img-2 gallery-img-2'
         'gallery-img-3 gallery-img-11 gallery-img-4 gallery-img-4 gallery-img-4'
         'gallery-img-3 gallery-img-11 gallery-img-4 gallery-img-4 gallery-img-4'
         'gallery-img-5 gallery-img-5 gallery-img-4 gallery-img-4 gallery-img-4'
         'gallery-img-5 gallery-img-5 gallery-img-6 gallery-img-6 gallery-img-6'
         'gallery-img-5 gallery-img-5 gallery-img-6 gallery-img-6 gallery-img-6'
         'gallery-img-5 gallery-img-5 gallery-img-6 gallery-img-6 gallery-img-6'
         'gallery-img-7 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8'
         'gallery-img-7 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8'
         'gallery-img-7 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8'
         'gallery-img-7 gallery-img-7 gallery-img-7 gallery-img-8 gallery-img-8'
         'gallery-img-9 gallery-img-9 gallery-img-10 gallery-img-10 gallery-img-10'
         'gallery-img-9 gallery-img-9 gallery-img-10 gallery-img-10 gallery-img-10'
         'gallery-img-9 gallery-img-9 gallery-img-12 gallery-img-12 gallery-img-12'
         'gallery-img-9 gallery-img-9 gallery-img-12 gallery-img-12 gallery-img-12'
         'gallery-img-9 gallery-img-9 gallery-img-12 gallery-img-12 gallery-img-12';
   }
   .model-and-scroll-gallery {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: 'three-js' 'scroll-gallery';
   }
   .model-3D {
      align-items: flex-start;
   }
   #webgl {
      height: 19rem !important;
      width: 19rem !important;
   }
   #scroll {
      overflow-x: auto;
   }
   #mapdiv {
      height: 40vh;
   }
}
